<div class="container mt-3" style="width: 500px;">
  <div class="d-flex justify-content-center">
    <div class="input-group mb-3">
      <select class="custom-select" onchange="window.location.href=this.value">
        <option selected disabled value="">查看單一類別</option>
        {{#each categoryList}}
        <option value="/filter?categorySelector={{ this.name }}">{{ this.name }}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-between" style="width: 500px; ">
        <big class="font-weight-bold">總金額：</big>
        <span class="px-2" style="font-size: 70px; color:#f88a82">{{ totalAmount }}</span>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-striped list-group-flush">
    {{#each records}}
    <li class="list-group-item p-0 border-0">
      <div class="row">
        <div class="col-8 d-flex align-items-center p-3">

          <div class="col-2 text-center" style="font-size: .5rem;">
            {{#each ../categoryList}}
            {{#ifEqual this.name ../this.category}}{{{this.icon}}}{{/ifEqual}}
            {{/each}}
          </div>

          <div class="col-8">
            <div style="font-size: 20px; font-weight:bold">{{ this.name }}</div>
            <small style="color:chocolate">{{ moment this.date format="YYYY-MM-DD" }}</small>
            <small>@{{ this.merchant }}</small>
          </div>
          <big class="col-2" style="text-align: end;">{{ this.amount }}</big>
        </div>

        <div class="col-4 control d-flex justify-content-end align-items-center">
          <a class="btn btn-success mr-3" href="./records/{{ this._id }}/edit">修改</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger" onclick="return confirm('確定要刪除嗎？')">刪除</button>
          </form>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>
  <div class="mb-3 d-flex justify-content-center">
    <a href="./records/new" class="btn btn-warning" style="width: 50%;">新增支出</a>
  </div>
</div>