<h2>類別</h2>
<h2>總金額: ****</h2>
<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.amount}}
    {{this.date}}
    <a href="./records/{{ this._id }}/edit">edit</a>
    <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="./records/new">新增支出</a>